body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: sans-serif;
  background-color: black;
  scroll-snap-type: y mandatory;
  height: 100%;
  font-family: serif;
}

#count-up {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: clamp(2.5rem, 6vw, 8rem);
  color: white;
  text-shadow: 0px 0px 20px white;
}

#typed-text {
  margin-left: clamp(1.2rem, 1.5vw, 3rem);
  font-size: clamp(2.5rem, 6vw, 8rem);
  color: white;
}

.pop {
  animation: pop 0.3s ease;
}

@keyframes pop {
  0% { transform: scale(1); }
  50% { transform: scale(1.2); }
  100% { transform: scale(1); }
}


#intro {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  scroll-snap-align: start;
  width: 100vw;
  height: 100vh;
}

#title {
  font-size: clamp(1.8rem, 6vw, 8rem);
  color: white;
  text-shadow: 0px 0px 20px white;
}

#click-text {
  font-size: clamp(1.2rem, 2vw, 3rem);
  color: white;
  margin-top: 50px;
  text-shadow: 0px 0px 10px white;
}

#Album {
  width: 100vw;
  height: 100vh;
  background: black;
  display: none;
  scroll-snap-align: start;
}

#memories {
  width: 100%;
}

.memories-title {
  font-size: clamp(1.8rem, 6vw, 8rem);
  color: white;
  text-shadow: 0px 0px 20px white;
}

.memories-text {
  font-size: clamp(1.2rem, 2vw, 3rem);
  color: white;
  margin-top: 20px;
  text-shadow: 0px 0px 10px white;
}

.date {
  font-size: clamp(1.2rem, 2vw, 3rem);
  color: white;
  margin-top: 20px;
  text-shadow: 0px 0px 10px white;
}

.memory {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  scroll-snap-align: start;
}

.memory img {
  max-width: 80vw;
  max-height: 75vh;
  object-fit: contain;
  border-radius: 20px;
  box-shadow: 0 0 50px white;
}


.sp {
  display: inline;
}

@media screen and (max-width: 350px) {
  .sp {
    display: none;
  }
}
